// $primary-color: #eb8312;
$primary-color: #cd2233;
$warning-color: #eb8312;
$success-color: #378548;
$secondary-color: #FFFFFF;
$dark-light: #1e1e1e;
:root {
    --plyr-color-main: #{$primary-color};
}